body{
  overflow-x: hidden;
  text-align: center;
}
ul li {
  list-style-type: none;
}
#container {
  text-align: center;
}
.bg {
  background: #99cc99;
  padding: 125px 0;
}
@media (max-width:650px) {
  .bg {
    padding: 0;
    height: 200px;
  }
}
.title {
  color: #fff;
  font-size: 40px;
  position: relative;
  font-family: monospace;
  font-weight: 200;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  -ms-animation-delay: .2s;
  margin: 0;
  top: -45px;
}
@media (max-width:650px) {
  .title {
    top: 50px;
    font-size: 30px;
  }
}
@media (max-width:325px) {
  .title {
    top: 30px;
    font-size: 32px;
  }
}
.not-bg{
  margin-top: -150px;
}
@media (max-width:650px) {
  .not-bg {
    margin-top: -100px;
  }
}
.about-img {
  border-radius: 100%;
  border: 5px solid #99cc99;
  height: 270px;
  width: 265px;
  margin: 10px 0 10px;
  position: relative;
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  -o-animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
}
@media (max-width:650px) {

.about-img {
    width: 165px;
    height: 170px;
  }
}
.subtitle {
  color: #263031;
  font-size: 18px;
  position: relative;
  top:20px;
  letter-spacing: 0.8px;
  -webkit-animation-delay: 8.2s;
  -moz-animation-delay: 8.2s;
  -o-animation-delay: 8.2s;
  -ms-animation-delay: 8.2s;
}
@media (max-width:650px) {
.subtitle {
    top:0;
  }
}
.home-nav {
  position: relative;
  top: 75px;
  font-size: 16px;
}
.home-nav ul {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -o-animation-delay: .3s;
  -ms-animation-delay: .3s;
}
.home-nav ul li {
  margin-bottom: 15px;
  letter-spacing: 0.8px;
}
.home-nav ul li a {
  color: #263031;
}
.home-nav ul li i {
  margin: 0 5px;
  font-size: 10px;
}
.detail {
  padding: 15px;
  position: relative;
  margin:0 auto;
  top: 25px;
  max-width: 725px;
}
@media (max-width:650px) {
  .detail {
    margin: 0 auto;
    top:0;
  }
}
p {
  margin: 0 auto;
  position: relative;
  color: #263031;
  line-height: 1.4;
  letter-spacing: .3px;
  font-size: 15px;
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  -ms-animation-delay: .2s;
}
#icons {
  margin: 60px 0;
}
@media (max-width:650px) {
  #icons {
    margin: 35px 0;
  }
}
#icons a {
  text-decoration: none;
}
#icons a i {
  margin: 0 25px;
  font-size: 30px;
  color: #99cc99;
}
@media (max-width:650px) {
  #icons a i {
    margin: 0 15px;
  }
}
